<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/resources/stylesheets/bs.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" href="{{"/resources/stylesheets/styles.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon"  href="{{ "/favicon.ico" | prepend:site.baseurl }}" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
        <section>
            {% include header.html %}

            {{ content }}
        </section>
    </div>
    <script src="{{ "/resources/javascripts/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/resources/javascripts/bootstrap.min.js" | prepend:site.baseurl }}"></script>
    {% include scripts.html %}
  </body>
</html>
